apiVersion: apps/v1
kind: Deployment
metadata:
    name: kafka-producer
    namespace: kafka
spec:
    replicas: 1
    selector:
        matchLabels:
            app: kafka-producer
    template:
        metadata:
            labels:
                app: kafka-producer
        spec:
            containers:
                - name: producer
                  image: producer:latest
                  imagePullPolicy: Never
                  env:
                      - name: KAFKA_BOOTSTRAP_SERVERS
                        value: "kafka-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092"
                      - name: PYTHONUNBUFFERED
                        value: "1"
                  resources:
                      requests:
                          memory: "256Mi"
                          cpu: "100m"
                      limits:
                          memory: "512Mi"
                          cpu: "500m"
            restartPolicy: Always
