apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow
  template:
    metadata:
      labels:
        app: airflow
    spec:
      serviceAccountName: airflow
      containers:
      - name: airflow
        image: custom-airflow:latest
        imagePullPolicy: Never
        command: ["/bin/bash", "-c", "airflow db migrate && airflow users create --username admin --firstname Admin --lastname User --role Admin --email admin@example.com --password admin && airflow webserver & airflow scheduler"]
        ports:
        - containerPort: 8080
        env:
        - name: AIRFLOW__CORE__EXECUTOR
          value: SequentialExecutor
        - name: AIRFLOW__CORE__SQL_ALCHEMY_CONN
          value: sqlite:////opt/airflow/airflow.db
        - name: AIRFLOW__CORE__LOAD_EXAMPLES
          value: "False"
---
apiVersion: v1
kind: Service
metadata:
  name: airflow
  namespace: default
spec:
  type: NodePort
  selector:
    app: airflow
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30081
